<div class="search-bar">
  <input
    type="text"
    class="search-input"
    placeholder="Buscar por nombre o slug..."
    [(ngModel)]="terminoBusqueda"
    (input)="filtrarProductos()"
  />

  <select
    class="category-select"
    [(ngModel)]="categoriaSeleccionada"
    (change)="filtrarProductos()"
  >
    <option value="">Todas las categorías</option>
    <option *ngFor="let cat of categorias" [value]="cat.slug">
      {{ cat.name }}
    </option>
  </select>
</div>


<p *ngIf="cargando">Cargando productos...</p>

<div *ngIf="!cargando && productosFiltrados.length > 0" class="product-grid">
  <div class="product-card" *ngFor="let producto of productosFiltrados">
    <div class="image-container">
      <img [src]="producto.images[0]" [alt]="producto.title" />
      <div class="overlay">
        <p><strong>Slug:</strong> {{ producto.slug }}</p>
        <p><strong>Descripción:</strong> {{ producto.description }}</p>
        <p><strong>Categoría:</strong> {{ producto.category?.name }}</p>
        <p><strong>Creado:</strong> {{ producto.creationAt | date: 'short' }}</p>
      </div>
    </div>
    <div class="product-info">
      <div class="product-title">{{ producto.title }}</div>
      <div class="product-price">${{ producto.price }}</div>
    </div>
  </div>
</div>

<p *ngIf="!cargando && productosFiltrados.length === 0">No hay productos que coincidan.</p>
